body {
    color: #555;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

h2 {
 display: inline-block;
  text-align: justify;
}

.back {
  position: fixed;
  bottom: 40px;
}
